<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ktds.cain.myreceiver">

    <!-- 안드로이드 OS로 부터 MESSAGE를 얻어오는 권한 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".MySMSReceiver"
            android:enabled="true"
            android:exported="true">
            <!--
                Intent Filter의 역할
                해당 컴포넌트가 동작될 유형을 정의할 수 있다.

                android.intent.action.MAIN : Application 에서 가장먼저 실행 될 Activity 라는 의미
                android.intent.category.LAUNCHER : Home 화면에 Application을 등록한다는 의미
                android.provider.Telephony.SMS_RECEIVED : 문자메세지가 올 경우 이벤트를 전달받겠다는 의미.
            -->
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>


        </receiver>
    </application>

</manifest>